{{!-- Create a table --}}
<table id="client-types-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="crud-option">
<h2>Add New Client Type</h2>
<p>To add a new client type, please enter the client type description below</p>
<form id="add-client-type-form" method="POST" action="/add-client-type-form">
    <label for="input-description">Description: </label>
    <input type="text" name="input-description" id="input-description" required>

    <input type="submit">
</form>
</div>

{{!-- Some code borrowed from https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}